<!--<h1>Perfil#inicio</h1>
<p>Find me in app/views/perfil/inicio.html.erb</p>-->

<section class="menu">
	<div class="avatar center-block">
		<%if @foto %>
			<%= image_tag @foto %>
		<%else %>
			<%= image_tag "desconocido.png" %>
		<%end%>
	</div>
	<%if usuario_signed_in? %>
		<p class="text-success text-center">Bienvenido, <%= @usuario.nombre + " " + @usuario.apellido %></p>
	<%else %>
		<h2>Bienvenido, desconocido</h2>
	<%end%>
	<hr>
	<p class="text-warning text-center">Editar Perfil</p>
	<p class="text-danger text-center">Cerrar Sesion</p>


</section>


<section class="main-datos ">

	<section id="inversiones" class="well">
		<h2>Tus Inversiones</h2>
		<% if !@inversiones.nil? 
			@inversiones.each do |t| %>
				<div class="recuadro well">
					<h3><%= Proyecto.find(t.campana).nombre %></h3>
					<br>
					<h4>Aporte:</h4>
					<span>$<%= t.dinero %></span>
					<br>
					<h4>Recaudado hasta ahora:</h4>
					<span>$<%= Proyecto.find(t.campana).dinero - Proyecto.find(t.campana).dinero_obtenido %></span>
					<span class="float-r">
						<%= link_to "detalles" %>
					</span>
				</div>
			<% end 
		else%>
			<div class="recuadro well">
				<h3>Todavia no has hecho inversiones. ¡Revisa las campañas!</h3>
				<%= link_to "Revisar campañas", "/campanas" %>
			</div>
		<% end %>
	</section>
	<section id="talentos" class="well">
		<h2>Tus Trabajos</h2>
		<div class="recuadro well">
			<h3>Nombre de la campaña</h3>
			<br>
			<h4>Cargo:</h4>
			<span>Nombre del cargo asigando</span>
			<span class="float-r"><a href="">detalles</a></span>
		</div>
	</section>
	<section id="creados" class="well">
		<h2>Tus Campañas</h2>
		<% if !@campanas.nil? 
			@campanas.each do |campana| %>
				<div class="recuadro well">
					<h3><%= campana.nombre %></h3>
					<br>
					<h4>Progreso:</h4>
					<span><% if campana.solicita_dinero %><%= "$" + campana.dinero_obtenido.to_s %><% else %>Esta campaña solicita talentos únicamente. <%end %></span>
					<br>
					<h4>Restante:</h4>
					<span>$<%= (campana.dinero - campana.dinero_obtenido) %></span>
					<span class="float-r">
						<%= link_to "detalles" %>
					</span>
				</div>
			<% end 
		else%>
			<div class="recuadro well">
				<h3>Todavia no tienes una campaña. ¡Crea una!</h3>
				<%= link_to "Crear Camapaña", "/campanas/crear" %>
			</div>
		<% end %>
	</section>
</section>

<hr class="limpiar" />


