<div class="container-fluid">
<h1 class="text-center">¡Campañas!</h1>
<p class="text-center">Cada Jugador tiene una historia que contar: un proyecto, una empresa, una visión de futuro para compartir contigo. ¡Escucha su voz y escribe esta historia con ellos!</p>

<hr/>

<% if !@campanas.blank? %>
  <div class="card-deck">
    <% for campana in @campanas[@pagina*@cantidad..(@pagina*@cantidad + @cantidad - 1)] %>
        <div class="card" style="width: 35rem;">
          <%if !Rails.application.assets.find_asset("campanas/#{campana.id}.jpg").nil? %>
            <%= image_tag "campanas/#{campana.id}.jpg", :class => "card-img-top" %>
          <%else%>
            <%= image_tag "campana-desc.png", :class => "card-img-top" %>
          <% end %>
          <div class="card-block">
            <h4 class="card-title"><%= campana.nombre %></h4>
            <p class="card-text"><%= campana.sinopsis %></p>
            <a href="/campanas/ver/<%= campana.id %>" class="btn btn-primary">¡Leer más!</a>
          </div>
        </div>
    <% end %>
  </div>
  <br/>
    <p class="text-center">¿Quieres encontrar financiamiento y talentos para tu idea?</p>
    <button onclick="location.href = '/campanas/crear';" type="button" class="btn center-block btn-primary">¡Crear!</button>
<% else %>
    <p>Por ahora no hay campañas... <a href="/campanas/crear">¿Y si creas una?</a></p>
<% end %>

</div>